body{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4,auto);

    grid-template-areas: "header header header"
                        "container container container"
                        ; 
}
.header{
    grid-area: header;
}
.navbar-collapse{
    z-index: 1000;
}
.container{
    grid-area: container;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .card-header{
    background: brown;
    color: white;
}
.card .card-header a{
    float: right;
    border-radius: 50%;
    width: 25px;
    text-decoration: none;
    color: black;
    background: red;
}