body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    grid-template-areas:"header header header"
                        "principal principal principal"
    ;
}
.header{
    grid-area: header;
}
.navbar-collapse{
    z-index: 1000;
}
div ul li,
div ul li a {
    text-decoration: none;
    color: white;
    width: auto;
    min-width: 100px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
div ul li:hover,
div ul li a:hover{
    background: rgb(105, 31, 31);
    text-decoration: none;
    color: white;
    border-bottom: 2px solid white;
}
.principal{
    grid-area: principal;
    background-color: rgb(199, 199, 199);
    height: auto;
    margin: 50px;
    border-radius: 20px;
}
.titulo-principal{
    background-color: brown;
    height: 50px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    text-align: center;
    padding-top: 7px;
    color: white;
}
.cuerpo-principal{
    height: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 30px;
}
.informacion-general{
    display: flex;
    
}
.informacion{
    height: auto;
    width: 50%;
}
.img-carrito{
    width: 80px;
}
/* .total-pedido{
    height: auto;
    width: 45%;
    margin: 20px;
} */

@media screen and (max-width:500px){
    .informacion-general{
        display:block;
        
    }
    .informacion{
        width: 80%;
        margin: 20px;
    }
    /* .total-pedido{
        width: 65%;
    } */
}